* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid black;
}

header img {
    width: 20%;
    height: auto;
}

header ul {
    display: flex;
    gap: 14px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

button {
    padding: 6px 10px;
    border-radius: 12px;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

@media (max-width: 600px) {
    header{
        height: 70px;
    }
    nav {
        display: none;
    }
    
    button {
        display: none;
    }

    #logoimg {
        width: 40%;
    }

    .hamburger-menu {
        display: flex;
    }
    nav.active {
        display: block;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid black;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
    }

    nav.active ul li a {
        color: black;
        padding: 10px;
        text-decoration: none;
    }
    
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    height: 0;
    padding-bottom: 56.25%; 
    background-color: #000;
    position: relative;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner .carousel-item {
    transition: transform 0.4s ease; 
}

.carousel-inner .carousel-item.active {
    display: block; 
}

.carousel-inner .carousel-item {
    display: none; 
}

.carousel-inner .carousel-item.active {
    display: block; 
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right,
.carousel-item.active {
    transform: translateX(0); 
}

.carousel-item-next,
.active.carousel-item-right {
    transform: translateX(100%); 
}

.carousel-item-prev,
.active.carousel-item-left {
    transform: translateX(-100%); 
}
.heading h3 span{
    font-weight: bolder;
}
.heading h3{
    font-weight: 100;
    text-align: center;
}
#productscategory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
#productscategory .card{
    width: 18rem;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}
#productcategory2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
#productcategory2 .card{
    width: 18rem;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}
.card img{
    width: 17.9rem; 
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
#productscategory .card:hover img {
    transform: scale(1.1);
}
#productcategory2 .card:hover img {
    transform: scale(1.1);
}
#productcategory3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
#productcategory3 .card{
    width: 18rem;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}
#productcategory3 .card:hover img {
    transform: scale(1.1);
}
#productcategory4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
#productcategory4 .card{
    width: 18rem;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}
#productcategory4 .card:hover img {
    transform: scale(1.1);
}
footer {
    border-top: 1px solid black;
    background-color:  #fff;
    color:#333;
    padding: 20px 0;
    text-align: center;
}

.newsletter-signup {
    margin-bottom: 20px;
}

.newsletter-signup h2 {
    margin-bottom: 10px;
}

.newsletter-signup form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-signup input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 250px;
    border: 1PX solid black;
    border-radius: 10px;
}

.newsletter-signup button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
}

.newsletter-signup button:hover {
    background-color: #e65c00;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: #4a4545;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
}
